.input-box {
  position: relative;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding-right: 40px;
  /* Espacio para el icono */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: dodgerblue;
}

.toggle-password.hide {
  display: none;
}