/* General Styles for Modal */
.purchase-modal .modal-content {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.purchase-modal .modal-header {
  background-color: var(--clr-secondary) !important;
  color: #495057;
  border-bottom: 2px solid #003366;
  margin-bottom: 1rem;
}

.purchase-modal .modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.purchase-modal .btn-close {
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Form Label Styles */
.purchase-modal .form-label {
  font-weight: bold;
  color: #495057;
}

/* Input Field Styles */
.purchase-modal input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 0.9rem;
}

.purchase-modal input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

/* Select Field Styles */
.purchase-modal .form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 0.9rem;
}

.purchase-modal .form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

/* Button Styles */
.purchase-modal .btn-primary {
  background-color: #004085;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.purchase-modal .btn-primary:hover {
  background-color: #002a5c;
}

/* Price Container Styles */
#precio-con-itbms-container {
  display: flex;
  flex-direction: column;
}

#precio-con-itbms {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  text-align: right;
  font-size: 16px;
}

/* Line Divider Styles */
.line {
  width: 240px;
  border: 2px solid #004085;
}


.purchase-modal .display-flex-center {
  gap: 1rem;
}

/* Asegurar que los elementos hijos tengan el mismo ancho */
.col-md-6 {
  flex: 1;
  max-width: 48%;
}

.purchase-modal #costoUnitario,
.purchase-modal #ganancia,
.purchase-modal #porcentaje,
.purchase-modal #costoConItbms-Descuento {
  border: none;
}

input[readonly] {
  background-color: #f0f0f0;
  color: #333;
}
