<div id="share-popover">
  <button
    type="button"
    class="custom-button share-icon"
    data-bs-toggle="popover"
    data-bs-html="true"
    data-bs-placement="bottom"
    title="<span class='share-popover-header'>Compartir con:</span>"
    data-bs-content="
  <input type='email' class='form-control' id='targetEmailPopover' placeholder='Correo del destinatario' required>
  <div class='share-popover-sendEmailButton-container'>
  <button class='btn mt-2 share-popover-sendEmailButton' id='sendEmailButton'>Enviar</button>
</div>
  "
  >
    <i class="bi bi-share"></i>
  </button>
</div>
