/* Estilos Generales */
th, td {
    border: 2px solid #ddd;
    padding: 8px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

th {
    font-weight: 500;
}

/* Estilos de Celdas Pegajosas (Sticky) */
th,
.clr-cel {
    background-color: var(--clr-secondary) !important;
}

.f500 {
    font-weight: 500;
}

th i {
    font-size: 2rem;
}

.sticky-col-2 {
    font-size: 2rem;
    position: sticky;
    left: -1rem;
    z-index: 4;
}

/* Botones de Información */
.info-btn {
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
    color: var(--clr-text);
}

.info-btn i {
    font-size: 0.8rem;
}

.info-btn i:hover {
    color: white;
}